%ul.breadcrumb
  %li
    %p
      YOU ARE HERE
  %i.icon-angle-right
  %li
    %a{:href => company_path} Company
  %i.icon-angle-right
  %li
    %a.active{:href => team_path(@team)}= @team.name

.row
  .col-md-11
    .page-title
      %i.icon-custom-ui
      %h3= @team.name
  .col-md-1.text-right

.row
  .grid.simple
    .grid-title.no-border
      %h4
        %span.semi-bold Team details
      .tools
        %a.reload{:href => "javascript:;"}
        %a.collapse{:href => "javascript:;"}
        = link_to "", edit_team_path(@team), :class => "config edit-team"
    .grid-body.no-border{style: "display:block"}
      .row
        .col-md-2
          %label Name
        .col-md-4= @team.name
      .row
        .col-md-2
          %label Description
        .col-md-4= @team.description
      .row
        .col-md-2
          %label Total time tracked
        .col-md-4= @team.worklogs.any? ? nice_time_difference(@team.worklogs.sum(:time)) : "0h"

.row
  %ul#navigation-tab.nav.nav-tabs
    %li.active
      %a{:href => "#users-tab"} Team users
    %li
      %a{:href => "#work-logs-tab"} Team Work Logs
    %li
      %a{:href => "#sources-tab"} Team Sources
  .tab-content
    #users-tab.tab-pane.active
      =render partial: "users/team_users", :object => @team.users, locals: { team: @team }
    #work-logs-tab.tab-pane
      =render partial: "work_logs/team_work_logs", :object => @team.worklogs, locals: { team: @team }
    #sources-tab.tab-pane
      =render partial: "sources/team_sources", :object => @team.sources, locals: { team: @team }

=content_for :javascript do
  =javascript_include_tag "js/tabs_accordian"

