.tiles.red.added-margin
  .tiles-body
    .controller
      %a.reload{href: "javascript:;"}
      %a.remove{href: "javascript:;"}
    .tiles-title
      = link_to "AMOUNT PAID", payments_path
      
    .heading
      %span.animate-number{data: {value: "#{company_payments_amount(account_company)}", animation_duration: "1200"}}
        0

    - amount_this_month = company_payments_amount account_company, 1.month.ago..Time.now
    - amount_last_month = company_payments_amount account_company, 2.month.ago..1.month.ago

    .description
      - if amount_this_month > amount_last_month
        %i.icon-custom-up
        %span.text-white.mini-description
          = "&nbsp; #{((amount_this_month - amount_last_month)/amount_this_month * 100).to_i}% higher".html_safe
          %span.blend
            than last month
      - elsif  amount_last_month > amount_this_month
        %i.icon-custom-down
        %span.text-white.mini-description
          = "&nbsp; #{((amount_last_month - amount_this_month)/amount_last_month * 100).to_i}% lower".html_safe
          %span.blend
            than last month