= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => {:role => "form" }) do |f|
  .row
    .col-md-1
    .col-md-4
      %h2.text-center Resend confirmation instructions
      = display_flash_message :error, f.error_notification
      = f.input :email, :autofocus => true, :placeholder => "Email"
      .form-group
        = f.submit "Resend confirmation instructions", :class => 'btn btn-default text-center', :role => "button"

      = render "devise/shared/links"
