%tr.data-row
  %td= worklogs_list_row.id
  %td=link_to worklogs_list_row.team.name, worklogs_list_row.team
  %td= worklogs_list_row.issue
  %td
    .pull-right{style: "padding-right:50%"}= nice_time_difference(worklogs_list_row.time)
  %td= link_to worklogs_list_row.user.name, user_path(worklogs_list_row.user)
  %td= worklogs_list_row.comment
  %td= worklogs_list_row.source ? worklogs_list_row.source.name : "Manually"
  %td
    .col-md-i0
      = worklogs_list_row.on_date
    .col-md-2
      .list-column.list-row-action
        .list-row-action-wrapper
          =link_to edit_team_work_log_path(worklogs_list_row.team, worklogs_list_row), :rel => :tooltip, :title => "edit worklog", :class => 'list-row-action-wrapper-link edit-worklog-action' do
            %i.icon-edit
          =link_to "", :rel => :tooltip, :title => "delete work log", :class => 'list-row-action-wrapper-link list-row-action-delete-one' do
            %i.icon-trash
          .popover.list-row-action-popover-delete-one.left
            .arrow
            %h3.popover-title Delete this work log?
            .popover-content
              =form_tag team_work_log_path(worklogs_list_row.team, worklogs_list_row), :method => :delete do
                =submit_tag 'Delete', :class =>'list-row-action-popover-delete-one-btn btn btn-danger btn-small'
                .btn.btn-small.cancel Cancel

