= display_flash_message :error, f.error_notification
= f.input :name, :required => true, :hint => 'e.g. "Runolfsson LLC"', :autofocus => true
= f.input :url, :required => true, :hint => 'JIRA endpoint web address'
.row
  .col-md-11
    = f.input :consumer_key, :required => true, :hint => 'Valid JIRA consumer key'
  .col-md-1{:class => "col-md-1-button-area"}
    = link_to("Generate", "#", :id => "jira-generate-consumer-key", :class => "btn btn-block btn-primary")
.row
  .col-md-11
    = f.input :private_key, :required => true, :hint => 'Private key that is authorized in your JIRA application '
    .form-group{:style => 'display: none;', :id => 'jira-public-key-block'}
      .form-label
        Public key
      .right
  .col-md-1{:class => "col-md-1-button-area"}
    = link_to("Generate", "#", :id => "jira-generate-rsa-key", :class => "btn btn-block btn-primary")

.form-actions
  .pull-right
    %button.btn.btn-success.btn-cons{:type => "submit"}
      %i.icon-ok
      Verify
    = link_to "Cancel", sources_path, :class => "btn btn-white btn-cons"

%div.grid.simple.vertical.green{:class => 'faq-block'}
  %div.grid-body.no-padding
    %div.grid-title.no-border FAQ
    %ul.grid-body.no-border
      %li Specify data source name and URL of your Jira project, and generate Consumer and Private keys.
      %li Go to Jira Settings -> Add-ons -> Application Links (you should be an administrator).
      %li Create new link, and Edit it.
      %li In Incoming Authentication section, copy Consumer Key and Public Key from generated fields in Hatchboy.
      %li Press "Verify".

=content_for :javascript do
  =javascript_include_tag "js/jira_sources"