%ul.breadcrumb
  %li
    %p
      YOU ARE HERE
  %i.icon-angle-right
  %li
    %a{:href => company_path} Company
  %i.icon-angle-right
  %li
    %a{:href => sources_path} Sources
  %i.icon-angle-right
  %li
    %a.active{:href => jira_sources_path(@jira_source)}= @jira_source.name

.col-md-12
  .grid.simple
    .grid-title.no-border
      %h4
        %span.semi-bold View JIRA data source details
      .tools
        %a.reload{:href => "javascript:;"}
        %a.collapse{:href => "javascript:;"}
        = link_to "", edit_jira_source_path(@jira_source), :class => "config edit-jira-source"
    .grid-body.no-border{style: "display:block"}
      .row
        .col-md-2
          %label Name
        .col-md-4= @jira_source.name
      .row
        .col-md-2
          %label Url
        .col-md-4= @jira_source.url
      .row
        .col-md-2
          %label Consumer key
        .col-md-4= @jira_source.consumer_key
      .row
        .col-md-2
          %label Validated
        .col-md-4= !@jira_source.access_token.blank? ? "Yes" : "No"
      .row
        .col-md-2
          %label Last updated
        .col-md-4
          = @jira_source.updated_at
          = link_to jira_source_browse_path(@jira_source) do
            %i.icon-refresh

=render partial: "work_logs/source_work_logs", :object => @jira_source.worklogs

