%ul.breadcrumb
  %li
    %p
      YOU ARE HERE
  %i.icon-angle-right
  %li
    %a{:href => company_path} Company
  %i.icon-angle-right
  %li
    %a{:href => reports_path} Reports
  %i.icon-angle-right
  %li
    %a.active{:href => report_mvp_index_path} MVP

.row
  .col-md-11
    .page-title
      %i.icon-custom-ui
      %h3 Most valuable players
  .col-md-1.text-right

- if @chart
  .row
    - if @chart.data[:xAxis].count > 0
      = high_chart("main_chart", @chart)
    - else
      = high_chart("main_chart", @chart) do |c|
        = raw "options.plotOptions.pie.startAngle = -90"
        = raw "options.plotOptions.pie.endAngle = 90"
        = raw "options.plotOptions.pie.center = ['50%', '75%']"

.row
  .action-list.grid.simple
    .grid-title.no-border
      %h4
        %span.semi-bold Ratings
      .tools
        %a.collapse{:href => "javascript:;"}
    .grid-body.no-border
      = form_tag(report_mvp_index_path, method: "get", id: "report-filter-form") do
        #report-filter-block.row{style: "margin-bottom: 20px;"}
          = render partial: "report_mvp/filter", locals: {params: @query_params}
        #report-data-block.row
          = render partial: "report_mvp/users_report_table", locals: {params: @query_params}

=content_for :javascript do
  =javascript_include_tag "js/reports"
=content_for :javascript do
  =javascript_include_tag "highcharts/ext"
  
:coffeescript
  $ ->
    $.reports.init(
      with_date_filter: true
    )