= display_flash_message :error, f.error_notification
= f.input :name, :required => true, :hint => 'e.g. "Runolfsson LLC"', :autofocus => true
= f.input :contact_email, :as => :email, :hint => 'e.g. "email@example.com"', disabled: !f.object.account.blank?
= f.input :role, collection: ["Manager", "Developer", "Designer", "Fron-end developer", "CEO", "Team-Leader"]
= f.input :status, collection: ["Full day", "Temporary", "Half-day", "Fired", "Outsourcer"]
= render partial: "users/upload_avatar",  :locals => {f: f}
.form-actions
  .pull-right
    %button.btn.btn-success.btn-cons{:type => "submit"}
      %i.icon-ok
      Save
    = link_to "Cancel", company_path, :class => "btn btn-white btn-cons"

