%ul.breadcrumb
  %li
    %p
      YOU ARE HERE
  %i.icon-angle-right
  %li
    %a{:href => "#{company_path}#customers_short_list"} Customers
  %i.icon-angle-right
  %li
    %a.active{:href => customer_path(@customer)}= @customer.name
.row
  .col-md-11
    .page-title
      %i.icon-custom-ui
      %h3
        Public profile
.row
  .col-md-12
    .row
      .col-md-12
        .grid.simple
          .grid-title.no-border
            %h4
              %span.semi-bold Personal information
            .tools
              %a.collapse{:href => "javascript:;"}
          .grid-body.no-border{:style => "display: block;"}
            .row
              .col-md-2
                %img{ "src" => "/assets/img/profiles/bc2x.jpg", width: "200px", height: "200px" }
              .col-md-4
                .row
                .row 
                  .col-md-2
                    %label Name:
                  .col-md-4= @customer.name
                .row
                  .col-md-2
                    %label Email:
                  .col-md-4= @customer.account.email
                .row
                  .col-md-2
                    %label Company
                  .col-md-4= @customer.company.name
