%ul.breadcrumb
  %li
    %p
      YOU ARE HERE
  %i.icon-angle-right
  %li
    %a{:href => company_path}< Company Profile
  %i.icon-angle-right
  %li
    %a.active{:href => edit_company_path} Edit  
.row
  .col-md-12    
    .page-title
      %i.icon-custom-ui
      %h3= @company.name
.row
  .col-md-12
    .grid.simple
      .grid-title.no-border
        %h4
          %span.semi-bold Edit company
        .tools
      .grid-body.no-border
        = simple_form_for(@company, :as => :company, :html => { :method => :put }) do |f|
          = display_flash_message :error, f.error_notification
          = f.input :name, :required => true, :hint => 'e.g. "Runolfsson LLC"'
          = f.input :description, :hint => "a few good words about your comapny"
          = f.association :contact_person, collection: @company.customers, include_blank: false
          .form-actions
            .pull-right
              %button.btn.btn-success.btn-cons{:type => "submit"}
                %i.icon-ok
                Save
              = link_to "Cancel", company_path, :class => "btn btn-white btn-cons"
