%ul.breadcrumb
  %li
    %p
      YOU ARE HERE
  %i.icon-angle-right
  %li
    %a{:href => company_path}< Company
  %i.icon-angle-right
  %li
    %a{:href => users_path }< Employees
  %i.icon-angle-right
  %li
    %a{:href => user_path(@user)}<= @user.name
  %i.icon-angle-right
  %li
    %a.active{:href => new_user_teams_path }< Assign team

.row
  .col-md-12
    .page-title
      %i.icon-custom-ui
      %h3 Add team
.row
  .col-md-12
    .grid.simple
      .grid-title.no-border
        %h4
          %span.semi-bold Assign employee
        .tools
      .grid-body.no-border
        = simple_form_for(@team_user, :url => create_user_teams_path, :method => :post) do |f|
          = display_flash_message :error, f.error_notification
          - if (@user.company.teams - @user.teams).any?
            = f.input :team_id, collection: (@user.company.teams - @user.teams), include_blank: false
          - else
            = f.input :team_id, collection: [['There are no teams available']], include_blank: false, disabled: true
          .form-actions
            .pull-right
              - if (@user.company.teams - @user.teams).any?
                %button.btn.btn-success.btn-cons{:type => "submit"}
                  %i.icon-ok
                  Save
              = link_to "Cancel", user_path(@user), :class => "btn btn-white btn-cons"

