= display_flash_message :error, f.error_notification
- recipient = PaymentRecipient.new
- index = 0
%table.table.table-bordered.no-more-tables
  %thead
    %tr
      %th
        %div.checkbox.check-default
          %input.checkall#checkall{type: 'checkbox', value: 1  }
          %label{for: 'checkall'}
      %th Name
      %th Amount
  %tbody
    =f.simple_fields_for :recipients, include_id: false do |r|
      - index += 1
      %tr.row_selected
        %td
          %div.checkbox.check-default
            %input.check{type: 'checkbox', id: "checkbox#{index}", value: 1, checked: true}
            %label{for: "checkbox#{index}"}
        %td
          = "#{r.object.user.name}"
          = r.error :user
        %td
          =r.input :user_id, :as => :hidden
          =r.input :amount, :min => 0, class: 'amount', 'data-index' => index, label: false
    - @users.each do |user|
      - index += 1
      %tr
        %td
          %div.checkbox.check-default
            %input.check{type: 'checkbox', id: "checkbox#{index}", value: 1, name: 'checked'}
            %label{for: "checkbox#{index}"}
        %td= "#{user.name}"
        %td
          =f.simple_fields_for :recipients, recipient do |r|
            =r.input_field :user_id, as: :hidden, value: user.id
            =r.input_field :amount, min: 0, class: 'amount', 'data-index' => index
= f.input :description, :required => true, :hint => 'e.g. "Benefits for good work"', :autofocus => true
.form-actions
  .pull-right
    %button.btn.btn-success.btn-cons{:type => "submit"}
      %i.icon-ok
      Save
    = link_to payments_path, class: 'btn btn-danger btn-cons' do
      %i.icon-remove
      Cancel


