%tr.data-row
  %td= row_sent.id
  %td= row_sent.description
  %td= number_to_currency(row_sent.amount)
  %td{title: row_sent.updated_at}= "#{time_ago_in_words(row_sent.updated_at)} ago"
  %td= row_sent.created_by.name
  %td= row_sent.transaction ? row_sent.transaction.status : ''
  %td
    =link_to payment_path(row_sent) do
      %button.btn.btn-sm.btn-small.btn-primary
        %i.icon-signin &nbsp;&nbsp;View
    =link_to payment_path(row_sent), method: 'delete', data: {confirm: "Are you sure ?"} do
      %button.btn.btn-sm.btn-small.btn-danger
        %i.icon-trash &nbsp;&nbsp;Delete
