%tr.data-row
  %td= row_prepared.id
  %td
    %a{:href => payment_path(row_prepared)}= row_prepared.description
  %td= number_to_currency(row_prepared.amount)
  %td{title: row_prepared.updated_at}= "#{time_ago_in_words(row_prepared.updated_at)} ago"
  %td= row_prepared.created_by.name
  %td
    =link_to payment_path(row_prepared), :title => "View Payment" do
      %button.btn.btn-sm.btn-small.btn-primary
        %i.icon-signin
        View
    =link_to edit_payment_path(row_prepared), :title => "Edit Payment" do
      %button.btn.btn-sm.btn-small.btn-primary
        %i.icon-edit
        Edit
    - unless row_prepared.status == Payment::STATUS_MARKED
      =link_to payment_marked_path(row_prepared), :title => "Marked", method: 'put' do
        %button.btn.btn-sm.btn-small.btn-primary
          %i.icon-book
          Mark
    =link_to payment_path(row_prepared), :title => "Delete Payment", method: 'delete', data: {confirm: "Are you sure you want to delete this payment?"} do
      %button.btn.btn-sm.btn-small.btn-danger
        %i.icon-trash
        Delete
  %td
    =link_to payment_transactions_path({type: Payment::TYPE_PAYPAL, payment_id: row_prepared.id}), title: "Process with Paypal", method: :post, data: {confirm: "Are you sure you want to process the payment with PayPal?"} do
      %button.btn.btn-sm.btn-small.btn-primary
        %i.icon-share-alt
        Paypal
    =link_to payment_transactions_path({type: Payment::TYPE_STRIPE, payment_id: row_prepared.id}), title: "Process with Stripe", method: :post, data: {confirm: "Are you sure you want to process the payment with Stripe?"} do
      %button.btn.btn-sm.btn-small.btn-primary
        %i.icon-share-alt
        Stripe
    =link_to payment_transactions_path({type: Payment::TYPE_DWOLLA, payment_id: row_prepared.id}), title: "Process with Dwolla", method: :post, data: {confirm: "Are you sure you want to process the payment with Dwolla?"} do
      %button.btn.btn-sm.btn-small.btn-primary
        %i.icon-share-alt
        Dwolla
