- if @object.type == 'JiraSource'
  - object_url = jira_source_url @object
- else
  - object_url = sources_url

-if @owner == @recipient
  - message = "#{link_to('You', @owner_url)} have just created new data source '#{link_to @object.name, object_url}'"
- else
  - message = "#{link_to @owner.name, @owner_url} has just created new data source '#{link_to @object.name, object_url}'"

= message.html_safe
