- if @owner == @recipient
  - message = "#{link_to('You', @owner_url)} have just removed team '#{@object.name}'"
- else
  - message = "#{link_to(@owner.name, @owner_url)} has just removed team '#{@object.name}'"

= message.html_safe
