- if @owner == nil
  - message = "Someone has just removed team '#{@object.name}'"
- elsif @owner == @recipient
  - message = "You have just removed team '#{@object.name}'"
- else
  - message = "#{link_to(@owner.name, [@owner])} has just removed team '#{@object.name}'"

= message.html_safe
