- if @owner == @recipient
  - message = "#{link_to 'You', @owner_url} have just removed user witn name #{@object.name}"
- else
  - message = "#{link_to @owner.name, @owner_url} has just removed user with name #{@object.name}"

= message.html_safe
