- if @owner == @recipient
  - message = "#{link_to 'You', @owner_url} have just created new user #{link_to @object.name, user_url(@object)}"
- else
  - message = "#{link_to @owner.name, [@owner]} has just created new user #{link_to @object.name, user_url(@object)}"

= message.html_safe
