= simple_form_for(form, :url => docu_templates_path, :html => { :multipart => true }, :remote => true) do |f|
  .grid-title.no-border
    = display_flash_message :error, f.error_notification
  .grid-body.no-border
    .row
      .col-md-6
        %br/
        .form-group
          %label.form-label Title
          %span.help e.g. "Tax form"
          .controls
            = f.input_field :title
        .form-group
          %label.form-label Document
          %span.help click to upload
          .controls
            = f.input_field :document, as: :file, accept: 'application/pdf'
      .col-md-6
        %br/
        .form-group
          %label.form-label Send to users or teams
          %span.help click to add 
          .controls
            = f.simple_fields_for :docu_signs do |docu|
              = docu.input_field :users, input_html: {type: "hidden", id:"e6", style:"width:600px" }
        .row-fluid
          %br/
          %br/
          .checkbox.check-success
            %input#docu_template_self_sign{:checked => false, :type => "checkbox", :value => "0", :name => "docu_template[self_sign]"}
              %label{:for => "docu_template_self_sign"} Sign uploaded document
            %button.btn.btn-success.btn-cons{:type => "submit"}
              %i.icon-ok
              Send
            = link_to "Cancel", docu_templates_path, :class => "btn btn-white btn-cons"
