!!!
%meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
%head
  %meta{:charset => "utf-8"}/
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}/  
  %title= content_for?(:title) ? yield(:title) : 'Hatchboy'
  %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Hatchboy'}"}/
  = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags

%body{style: 'background: url("/assets/images/macbook.jpg") no-repeat scroll 0 0 / cover  rgba(0, 0, 0, 0)'}
  / BEGIN TOP NAVIGATION BAR
  %ul#main-menu-toggle-wrapper.nav.pull-left.notifcation-center{:style => "display:none"}
    %li.dropdown
      %a#main-menu-toggle{:href => "#main-menu"}
      .iconset.top-menu-toggle-white
  / BEGIN LOGO
  %a{:href => root_path}
    %img.logo{"data-src" => "/assets/img/logo.png", "data-src-retina" => "/assets/img/logo2x.png", :height => "21", :src => "/assets/img/logo.png", :width => "106"}/
  / END LOGO
  / END TOP NAVIGATION MENU
  .pull-right{style: "margin: 40px;40px;"}
    %ul.nav.quick-section
      %li{style: "display: inline-block"}
        = link_to "Sign In", new_account_session_path, :class => "btn btn-default"
      %li{style: "display: inline-block"}
        %span.h-seperate
      %li{style: "display: inline-block"}
        = link_to "Sign Up", new_account_registration_path, :class => "btn btn-default"
  = yield
  = yield :javascript
